* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #051622;
    --secondary-color: #1BA098;
}
/* #region <-- ----------- ALL SCREEN SIZES ----------- --> */
#navbar {

}

@font-face {
    font-family: "Poppins";
    src: url("/Fonts/Poppins");
    font-display: swap;
}

body {
    background-color: #F8FCFD;
    font-family: "Poppins", sans-serif;
}
/* #endregion */

/*-- -------------------------------------------------------- -->
<---                        MY NAME                           -->
<--- -------------------------------------------------------- -*/

@media screen and (min-width: 0px) {
    .my-name {
        position: relative;
    }

    .my-name-img {
        background-image: url("/Images/breathtaking.jpg");
        background-size: contain;
        height: 980px;
        filter: blur(2px);
    }

    #name {
        position: absolute;
        font-size: 12rem;
        color: #F8FCFD;
        width: 1000px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }

    #name::before {
        content: 'DEVELOPER & STUDENT';
        width: 1000px;
        font-size: 2.5rem;
        position: absolute;
        left: 28%;
        bottom: -6%;
        font-weight: 300;
        /* transform: translate(-50%, -50%); */
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1300px) {
}

/*-- ------------------------------------------------------ -->
<---                        ABOUT                           -->
<--- ------------------------------------------------------ -*/

@media screen and (min-width: 0px) {

    #menu-wrap {
        position: relative;
    }

    #menu {
        height: 400px;
        width: 200px;
        position: absolute;
        justify-content: center;
        background-color: var(--secondary-color);
        top: 100px;
        left: 7%;
        border-radius: 50px;
        padding-top: 80px;
    }

    .menu-sticky {
        position: fixed !important;
    }

    .menu-list {
        display: flex;
        flex-direction: column;   
    }

    .list-item {
        list-style: none;
        text-align: center;
        margin: auto;
        font-size: 1.2rem;
        color: white;
    }

    #about-me {
        display: flex;
        position: relative;
        width: 56%;
        height: 750px;
        background-color: white;
        margin: 80px auto 0 auto;
        border-radius: 50px;
        box-shadow: 0 0 5px 5px rgba(60, 64, 67, .08);
    }

    .text-wrap {
        width: 65%;
        position: relative;
        right: 10%;
        margin: 40px auto;
        padding: 10px 50px 10px 0;
    }

    #about-me-heading {
        color: var(--secondary-color);
        font-size: 2rem;
    }

    .skills-wrap {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        justify-content: center;
        position: absolute;
        right: 0;
        height: 100%;
        width: 25%;
        border-radius: 50px;
    }

    .skill-items-wrap {
        margin-top: 60px;
        padding-inline-start: 30px;
    }

    .skills-title {
        position: relative;
        bottom: 5px;
        color: #F8FCFD;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .skill-item {
        list-style: none;
        font-weight: bold;
    }

    #atom-img {
        display: block;
        margin: 50px auto 0 auto;
        box-shadow: 0 0 5px 1px white;
    }

    #link-to-old-sweng-project {
        color: var(--secondary-color);
        text-decoration: none;
        cursor: pointer;
    }

    #link-to-old-sweng-project:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1300px) {
}

/*-- -------------------------------------------------------- -->
<---                        PROJECTS                          -->
<--- -------------------------------------------------------- -*/

@media screen and (min-width: 0px) {
    #projects {
        height: 200px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1300px) {
}

