* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #051622;
    --secondary-color: #1BA098;
}
/* #region <-- ----------- ALL SCREEN SIZES ----------- --> */

@font-face {
    font-family: "Poppins";
    src: url("/Fonts/Poppins");
    font-display: swap;
}

body {
    font-family: "Poppins", sans-serif;
}
/* #endregion */

.project-image {
    border-right: 1px solid darkgrey;
}
/*-- -------------------------------------------------------- -->
<---                        MY NAME                           -->
<--- -------------------------------------------------------- -*/

@media screen and (min-width: 0px) {
    .my-name {
        position: relative;
    }

    .my-name-img {
        background-image: url("/Images/breathtaking.jpg");
        background-size: contain;
        width: 1920px;
        height: 1000px;
        filter: blur(2px);
    }

    #name {
        position: absolute;
        font-size: 12rem;
        color: #F8FCFD;
        width: 1000px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        white-space: nowrap;
    }

    #name::before {
        content: 'DEVELOPER & STUDENT';
        width: 1000px;
        font-size: 2.5rem;
        position: absolute;
        left: 28%;
        bottom: -6%;
        font-weight: 300;
        /* transform: translate(-50%, -50%); */
    }
}

@media screen and (max-width: 1100px) {
    #name {
        transform: none;
        width: 80%;
        top: 25%;
        left: 14%;
        font-size: 10rem;
        white-space: normal;
    }

    #name::before {
        font-size: 2rem;
    }
}

@media screen and (max-width: 700px) {
    #name {
        left: 10%;   
        font-size: 20vw;
    }

    #name::before {
        left: 15%;
        font-size: 1.5rem;
    }
    .my-name-img {
        height: 80vh;
    }
}

/*-- ------------------------------------------------------ -->
<---                        ABOUT                           -->
<--- ------------------------------------------------------ -*/

@media screen and (min-width: 0px) {

    #menu-wrap {
        position: relative;
    }

    #menu {
        height: 400px;
        width: 200px;
        position: absolute;
        justify-content: center;
        background-color: var(--secondary-color);
        top: 100px;
        left: 7%;
        border-radius: 50px;
        padding-top: 80px;
    }

    .menu-sticky {
        position: fixed !important;
    }

    .menu-list {
        display: flex;
        flex-direction: column;   
    }

    .list-item {
        list-style: none;
        text-align: center;
        margin: auto;
        font-size: 1.2rem;
        color: white;
    }

    #about-me {
        background-color: white;
        height: 400px;
    }

    #about-me-wrap {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;
    }

    #face {
        border-radius: 50%;
        margin: auto 0;
        position: relative;
        bottom: 2vh;
        max-width: 250px;
    }

    .bar {
        height: 1px;
        width: 100%;
        position: absolute;
        background-color: gray;
        display: block;
        top: 20%;
        opacity: 0.2;
    }

    .text-wrap {
        margin: 0 0 0 200px;
        position: relative;
        font-size: 1.2rem;
        width: 100%;
    }

    #about-me-heading {
        color: var(--secondary-color);
        font-size: 2.3rem;
        line-height: 0px;
        height: 100px;
        text-align: center;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .text-wrap {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1100px) {
    #about-me-wrap {
        flex-direction: column;
    }

    #face {
        margin: 30px auto;
    }

    .text-wrap {
        margin: 0;
    }

    #about-me {
        height: auto;
        margin-bottom: 30px;    
    }

    #about-me .bar {
        top: 15%;

    }

    #about-me-heading {
        height: 80px;
        padding-top: 0;
    }
}

@media screen and (max-width: 700px) {
    #about-me .bar {
        top: 10%;
    }
}
/*-- -------------------------------------------------------- -->
<---                        SKILLS                            -->
<--- -------------------------------------------------------- -*/

@media screen and (min-width: 0px) {
    #skills {
        background-color: #F5F5F0;
        color: var(--primary-color);
        justify-content: center;
        height: 500px;
        border-radius: 50px;
        position: relative;
    }

    #skills h2 {
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
        font-size: 1.8rem;
    }

    #skills-wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 80%;
        position: relative;
        left: 20%;
    }

    #skills-wrap .bar {
        top: -18px;
    }

    .skill-column {
        height: 100%;
        width: 200px;
        margin: 0 80px;
        text-align: center;
        padding-top: 5px;
    }
    
    .skill-column h3 {
        position: relative;
        top: 2%;
        font-weight: normal;
        font-size: 1.2rem;
        white-space: nowrap;
    }

    #too-long {
        position: relative;
        right: 5%;
    }

    .skill-svg-icon {
        height: 40px;
    }

    
    .skills-list-item {
        font-size: 1.2rem;
        text-align: left;
    }
}

@media screen and (max-width: 2000px) {
    #skills-wrap {
        width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 1200px) {
    #skills-wrap {
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 1100px) {
    #skills {
        height: 1000px;
    }

    #skills-wrap {
        flex-direction: column;
    }

    .skill-column {
        margin-top: 30px;
    }
}

/*-- -------------------------------------------------------- -->
<---                        PROJECTS                          -->
<--- -------------------------------------------------------- -*/

@media screen and (min-width: 0px) {
    #projects {
        background-color: white;
        height: 1300px;
        display: flex;
        flex-direction: column;
        position: relative
    }

    #projects h1 {
        text-align: center;
        margin-top: 50px;
        font-size: 2rem;
        font-weight: normal;
    }

    #projects .bar {
        top: 120px;
        width: 60%;
        left: 20%;
    }

    .a-project {
        box-shadow: 0 0 5px 1px grey;
        height: 500px;
        width: 60%;
        margin: 50px auto;
        display: flex;
    }

    .project-image {
        width: 300px;
    }

    .project-description {
        width: 100%;
        position: relative;
        margin: 20px 50px;
    }

    .project-description h2 {
        text-align: center;
        font-weight: normal;
        font-family: "Open Sans", sans-serif;
        margin-top: 20px;
    }

    #projects .project-description .bar {
        top: 60px;
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 1300px) {
    .a-project {
        width: 80%;
    }
}

@media screen and (max-width: 960px) {
    #projects {
        height: auto;
    }

    .a-project {
        flex-direction: column;
        width: 300px;
        height: auto;
    }

    .project-description {
        margin: 0;
        padding: 20px
    }

    .project-description h2 {
        margin-top: 0;
    }
}


/*-- -------------------------------------------------------- -->
<---                        CREDIT                            -->
<--- -------------------------------------------------------- -*/

#credit {
    height: 100px;
    text-align: center;
    background-color: #F5F5F0;
    font-size: 1.3rem;
}

.links {
    display: flex;
    justify-content: right;
    margin-right: 25vw;
}

.link img {
    width: 50px;
    margin: auto 10px;
}